@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

*, *::after, *::before {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding: 0 12px;
  max-width: 1320px;
}
@media (max-width: 997px) {
  .container {
    max-width: 1016px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 791px;
  }
}

.d-flex {
  display: flex;
}

.menu {
  background-color: #AA0601;
  padding: 13px 0px;
}
@media (max-width: 767px) {
  .menu {
    padding: 0;
  }
}
.menu .container {
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
@media (max-width: 767px) {
  .menu .container {
    padding: 0px;
  }
}

@media (max-width: 767px) {
  .logo {
    padding: 16px;
  }
}

.menu h1 {
  width: 80px;
}
.menu h1 a {
  width: 100%;
  display: block;
  background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true) no-repeat;
  background-size: cover;
  text-indent: 150%;
  overflow: hidden;
  white-space: nowrap;
  padding-bottom: 24px;
  border: 1px solid transparent;
}
.menu h1 a:hover {
  border: 1px solid #FFFFFF;
  border-radius: 4px;
}

.menu-item {
  justify-content: space-between;
  width: 41.6%;
}
@media (max-width: 997px) {
  .menu-item {
    width: 75%;
  }
}
@media (max-width: 767px) {
  .menu-item {
    flex-wrap: wrap;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .menu-item li {
    width: 50%;
    border: 1px solid #FFFFFF;
  }
}
.menu-item a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 20px;
  padding: 12px 0px;
  text-align: center;
  display: block;
}
@media (max-width: 767px) {
  .menu-item a {
    width: 100%;
    font-size: 16px;
    padding: 12px 32px;
  }
}
.menu-item a:hover {
  text-decoration: underline;
}
@media (max-width: 767px) {
  .menu-item a:hover {
    text-decoration: none;
    background-color: #650300;
  }
}

footer {
  background-color: #AA0601;
  padding-top: 48px;
}
@media (max-width: 767px) {
  footer {
    padding-top: 24px;
  }
}

.footer {
  justify-content: space-between;
}

.footer-list {
  width: 35.8%;
}
@media (max-width: 997px) {
  .footer-list {
    width: 66.6%;
  }
}

.footer-menu {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.footer-menu a {
  text-decoration: none;
  color: #FFFFFF;
  display: block;
  padding: 16px 0px;
}
.footer-menu a:hover {
  text-decoration: underline;
}
@media (max-width: 767px) {
  .footer-menu {
    display: none;
  }
}

.social-media {
  justify-content: space-between;
}
@media (max-width: 767px) {
  .social-media {
    width: 30%;
  }
}
.social-media a {
  display: block;
  margin-left: 32px;
  border: 1px solid transparent;
}
@media (max-width: 997px) {
  .social-media a {
    margin-left: 16px;
  }
}
@media (max-width: 997px) and (max-width: 767px) {
  .social-media a {
    margin-left: 8px;
  }
}
.social-media a:hover {
  border: 1px solid #FFFFFF;
  border-radius: 4px;
}
.social-media img {
  width: 48px;
}

.footer-info {
  margin-bottom: 28px;
}
@media (max-width: 767px) {
  .footer-info {
    margin-bottom: 24px;
  }
}

.footer-info li {
  margin-bottom: 8px;
  align-items: center;
}
.footer-info li span {
  margin-right: 8px;
  font-size: 36px;
  color: #FFFFFF;
}
@media (max-width: 997px) {
  .footer-info li span {
    font-size: 36px;
  }
}
@media (max-width: 767px) {
  .footer-info li span {
    font-size: 16px;
  }
}

.footer-info a {
  font-size: 36px;
  text-decoration: none;
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .footer-info a {
    font-size: 16px;
  }
}

.footer-info a:hover {
  text-decoration: underline;
}

.footer-copyright {
  justify-content: space-between;
  padding: 32px 0px;
  color: #FFFFFF;
  border-top: 1px solid #FFFFFF;
}
@media (max-width: 767px) {
  .footer-copyright {
    flex-direction: column;
    padding: 16px 0px;
  }
}
@media (max-width: 767px) {
  .footer-copyright p {
    margin-bottom: 8px;
  }
}

.terms {
  justify-content: space-between;
  font-size: 14px;
}
@media (max-width: 767px) {
  .terms {
    flex-direction: column;
    font-size: 16px;
  }
}
.terms li {
  margin-left: 48px;
}
@media (max-width: 767px) {
  .terms li {
    margin-left: 0;
    margin-bottom: 8px;
  }
}
.terms a {
  text-decoration: none;
  color: #FFFFFF;
}
.terms a:hover {
  text-decoration: underline;
}

body {
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  line-height: 1.5;
}

header {
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true);
  background-size: cover;
  text-align: right;
}
@media (max-width: 997px) {
  header {
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header-sm.png?raw=true);
  }
}

.header-text {
  color: #650300;
  text-align: right;
  padding: 296px 0px;
}
.header-text p {
  font-size: 36px;
}
@media (max-width: 767px) {
  .header-text p {
    font-size: 16px;
  }
}
.header-text h2 {
  font-size: 64px;
  font-weight: bold;
}
@media (max-width: 767px) {
  .header-text h2 {
    font-size: 24px;
    margin-bottom: 8px;
  }
}
.header-text a {
  text-decoration: none;
  color: #ffffff;
  background-color: #AA0601;
  padding: 6px 12px;
  margin-top: 4px;
}
@media (max-width: 767px) {
  .header-text a {
    font-size: 20px;
    margin-top: 8px;
  }
}
.header-text a:hover {
  background-color: #650300;
}

.service {
  background-color: #FBF2F2;
  padding: 80px 0px;
}
@media (max-width: 997px) {
  .service {
    padding-bottom: 56px;
  }
}
@media (max-width: 767px) {
  .service {
    padding: 40px 0px 16px 0px;
  }
}
.service h2 {
  font-size: 48px;
  color: #650300;
  text-align: center;
  font-weight: bold;
  margin-bottom: 32px;
}
@media (max-width: 767px) {
  .service h2 {
    font-size: 24px;
    margin-bottom: 24px;
  }
}

.service-item {
  justify-content: space-between;
  flex-wrap: wrap;
}
.service-item li {
  width: 23%;
  text-align: center;
}
@media (max-width: 997px) {
  .service-item li {
    width: 48%;
    margin-bottom: 24px;
  }
}
@media (max-width: 997px) and (max-width: 767px) {
  .service-item li {
    width: 100%;
  }
}
.service-item .service-img {
  justify-content: center;
  align-content: center;
  margin-bottom: 24px;
}
.service-item .service-img img {
  width: 84px;
}
.service-item h3 {
  font-size: 24px;
  color: #650300;
  margin-bottom: 8px;
}
.service-item p {
  text-align: left;
}

.classic {
  padding: 80px 0px;
}
@media (max-width: 767px) {
  .classic {
    padding: 40px 0px 16px 0px;
  }
}
.classic h2 {
  font-size: 48px;
  color: #650300;
  text-align: center;
  font-weight: bold;
  margin-bottom: 48px;
}
@media (max-width: 767px) {
  .classic h2 {
    font-size: 24px;
    margin-bottom: 24px;
  }
}

.classic-item {
  justify-content: space-between;
}
@media (max-width: 997px) {
  .classic-item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.classic-item li {
  width: 32%;
  margin-bottom: 24px;
}
@media (max-width: 997px) {
  .classic-item li {
    width: 50%;
  }
}
@media (max-width: 997px) and (max-width: 767px) {
  .classic-item li {
    width: 100%;
  }
}
.classic-item img {
  width: 100%;
  margin-bottom: 8px;
}
.classic-item h3 {
  font-size: 48px;
  color: #AA0601;
  font-weight: bold;
  text-align: center;
  font-style: italic;
}

.co-branding {
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg.png?raw=true);
  background-size: cover;
  padding: 80px 0px;
}
@media (max-width: 997px) {
  .co-branding {
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg-sm.png?raw=true);
    padding-bottom: 56px;
  }
}
@media (max-width: 997px) and (max-width: 767px) {
  .co-branding {
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg-md.png?raw=true);
    padding: 40px 0px 16px 0px;
  }
}
.co-branding h2 {
  font-size: 48px;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  margin-bottom: 48px;
}
@media (max-width: 767px) {
  .co-branding h2 {
    font-size: 24px;
    margin-bottom: 24px;
  }
}

.co-branding-item {
  justify-content: center;
}
@media (max-width: 997px) {
  .co-branding-item {
    align-items: center;
    flex-direction: column;
  }
}
.co-branding-item li {
  width: 50%;
}
@media (max-width: 997px) {
  .co-branding-item li {
    width: 100%;
    margin-bottom: 24px;
  }
}
.co-branding-item h3 {
  font-size: 48px;
  color: #AA0601;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  background-color: #ffffff;
  padding: 8px 0px;
}

.recommend {
  padding: 80px 0px;
}
@media (max-width: 997px) {
  .recommend {
    padding-bottom: 56px;
  }
}
@media (max-width: 997px) and (max-width: 767px) {
  .recommend {
    padding: 40px 0px 24px 0px;
  }
}
.recommend h2 {
  font-size: 48px;
  color: #650300;
  text-align: center;
  font-weight: bold;
  margin-bottom: 48px;
}
@media (max-width: 767px) {
  .recommend h2 {
    font-size: 24px;
    margin-bottom: 24px;
  }
}

.recommend-item {
  justify-content: space-between;
  flex-wrap: wrap;
}
.recommend-item li {
  width: 23%;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1607843137);
  border-radius: 4px;
  margin-bottom: 24px;
  flex-direction: column;
}
@media (max-width: 997px) {
  .recommend-item li {
    width: 48%;
  }
}
@media (max-width: 767px) {
  .recommend-item li {
    width: 100%;
    margin-bottom: 16px;
  }
}

.recommend-item-body {
  padding: 16px;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.recommend-item-text h3 {
  margin-bottom: 8px;
}
.recommend-item-text p {
  margin-bottom: 72px;
}
.recommend-item-text span {
  color: #707070;
  font-size: 14px;
}

.contact {
  background-color: #FBF2F2;
  padding: 80px 0px;
}
@media (max-width: 767px) {
  .contact {
    padding: 40px 0px;
  }
}
.contact .contact-text {
  flex-direction: column;
  align-items: center;
}
.contact h2 {
  font-size: 48px;
  color: #650300;
  font-weight: bold;
  text-align: center;
  margin-bottom: 48px;
}
@media (max-width: 767px) {
  .contact h2 {
    font-size: 24px;
    margin-bottom: 24px;
  }
}
.contact p {
  font-size: 20px;
  margin-bottom: 24px;
  width: 50%;
}
@media (max-width: 997px) {
  .contact p {
    font-size: 16px;
    width: 80%;
  }
}
@media (max-width: 767px) {
  .contact p {
    width: 100%;
  }
}

.contact form {
  width: 50%;
}
@media (max-width: 997px) {
  .contact form {
    width: 80%;
  }
}
@media (max-width: 997px) and (max-width: 767px) {
  .contact form {
    width: 100%;
  }
}
.contact form label {
  margin-bottom: 8px;
  display: block;
}
.contact form .form-input {
  width: 100%;
  padding: 9px 12px;
  margin-bottom: 16px;
  background-color: #FBF2F2;
  border: 1px solid #000000;
}
.contact form .form-check {
  font-size: 16px;
  background-color: #FBF2F2;
}
.contact form textarea {
  width: 100%;
  padding: 6px 12px;
  height: 136px;
  margin-bottom: 16px;
  font-size: 16px;
  background-color: #FBF2F2;
  border: 1px solid #000000;
  resize: none;
}
.contact form .check {
  align-items: center;
}
@media (max-width: 767px) {
  .contact form .check {
    align-items: start;
  }
}
.contact form .check label {
  margin-bottom: 0;
}

.btn {
  justify-content: center;
  margin-top: 48px;
}
@media (max-width: 767px) {
  .btn {
    margin-top: 24px;
  }
}
.btn button {
  color: #ffffff;
  background-color: #AA0601;
  width: 64.2%;
  padding: 16px 0px;
  border: 0px;
}
@media (max-width: 997px) {
  .btn button {
    width: 51.8%;
  }
}
@media (max-width: 997px) and (max-width: 767px) {
  .btn button {
    width: 100%;
  }
}
.btn button:hover {
  background-color: #650300;
}

::-moz-placeholder {
  color: #000000;
  opacity: 20%;
}

::placeholder {
  color: #000000;
  opacity: 20%;
}/*# sourceMappingURL=all.css.map */